[data-button="correction"].reset {
  grid-column: 1 / 3;
}

[data-button="submission"] {
  grid-column: 3 / 5;
}

//Color changes
[data-theme="light"] {
  [data-button="correction"] {
    color: var(--clr-onsurface--800);
    background-color: var(--clr-primary--400);
  
    &:hover {
      color: var(--clr-onsurface--100);
      background-color: var(--clr-primary--600);
    }
  }
  [data-button="submission"] {
    color: var(--clr-onsurface--800);
    background-color: var(--clr-secondary--400);
  
    &:hover {
      color: var(--clr-onsurface--100);
      background-color: var(--clr-secondary--600);
    }
  }
}

[data-theme="contrast"] {
  [data-button="correction"] {
    color: var(--clr-onsurface--800);
    background-color: var(--clr-primary--400);
  
    &:hover {
      color: var(--clr-onsurface--100);
      background-color: var(--clr-primary--600);
    }
  }
  [data-button="submission"] {
    background-color: var(--clr-secondary--400);
  
    &:hover {
      background-color: var(--clr-secondary--600);
    }
  }
}

[data-theme="dark"] {
  [data-button="correction"] {
    color: var(--clr-onsurface--200);
    background-color: var(--clr-primary--400);
  
    &:hover {
      color: var(--clr-onsurface--800);
      background-color: var(--clr-primary--600);
    }
  }
  [data-button="submission"] {
    color: var(--clr-onsurface--800);
    background-color: var(--clr-secondary--400);
  
    &:hover {
      color: var(--clr-onsurface--100);
      background-color: var(--clr-secondary--600);
    }
  }
}